body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0;
    background-color:white; /* Light background for contrast */
  }
  
  .container {
    width: 400px; /* Fixed width for the box */
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white; /* White background for the box */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  h2 {
    margin-top: 20px;
    color: #444;
  }
  
  input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 100px;
    border: none;
    margin: 10px;
    margin-left: 120px;
    border-radius: 4px;
    background-color: #4fda4f;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 8px;
    margin: 5px 0;
    background-color: #e9ecef;
    border-radius: 4px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #eaeaea;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f9f9f9;
  }